<fieldset>
<div class="row">
  <div class="col-lg-3">
    User Name
  </div>
  <div class="col-lg-1">:</div>
  <div class="col-lg-4">
    <%= f.text_field :name %>
  </div>
  <div class="col-lg-1">
    <%= link_to "-", '#', class: "remove_fields btn btn-danger" %>
  </div>
</div>
<br />

<%= f.fields_for :emails do |email| %>
  <%= render 'email_fields', f: email %>
<% end %>
<%= link_to_add_fields "Add Email", f, :emails %>
</fieldset>