<div class="row">
  <div class="col-lg-3">
    <div class="well sidebar-nav">
      <h3><%= link_to 'Groups', groups_path %></h3>
      <ul class="nav nav-list">
        <li class="nav-header"><%= @group.name %></li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
  <div class="col-lg-9">
    <%= form_for @group do |f| %>
      <div class="row">
        <div class="col-lg-3">
          Group Name
        </div>
        <div class="col-lg-1">:</div>
        <div class="col-lg-4">
          <%= f.text_field :name %>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-lg-4 col-lg-offset-3">
          <%= f.submit 'Update' %>
        </div>
      </div>
    <% end %>
  </div>
</div>