<div class="row">
  <div class="col-lg-3">
    <div class="well sidebar-nav">
      <h3><%= link_to "#{@group.name}", group_path(@group) %></h3>
      <ul class="nav nav-list">
        <li class="nav-header">User</li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
  <div class="col-lg-9">
    <%= form_for [@group, @user] do |f| %>
      <div class="row">
        <div class="col-lg-3">
          User Name
        </div>
        <div class="col-lg-1">:</div>
        <div class="col-lg-4">
          <%= f.text_field :name %>
        </div>
      </div>
      <br />

      <%= f.fields_for :emails do |email| %>
        <%= render 'email_fields', f: email %>
      <% end %>
      <%= link_to_add_fields "Add Email", f, :emails %>

      
      <br />
      <div class="row">
        <div class="col-lg-4 col-lg-offset-3">
          <%= f.submit 'Create User' %>
        </div>
      </div>
    <% end %>
  </div>
</div>