<div class="row">
  <div class="col-lg-3">
    <div class="well sidebar-nav">
      <h3><%= link_to 'Users', group_path(@group) %></h3>
      <ul class="nav nav-list">
        <li class="nav-header"><%= @user.name %></li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
  <div class="col-lg-9">
    <table id="users" class="display datatable table" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Id</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <% @user.emails.each do |email| %>
        <tr>
          <td><%= email.id %></td>
          <td><%= email.address %></td>
          <td>
            <div class="row">
              <div class="col-lg-1">
                <%= link_to "<i class='glyphicon glyphicon-pencil'></i>".html_safe, edit_group_user_email_path(@group.id, @user.id, email) %>
              </div>
              <div class="col-lg-1">
                <%= link_to "<i class='glyphicon glyphicon-minus'></i>".html_safe, group_user_email_path(@group.id, @user.id, email), method: :delete, data: {confirm: "You sure?"} %>
              </div>
            </div>
          </td>
        </tr>
        <% end if @user.emails.present? %>
      </tbody>
    </table>
    <div class="row">
      <div class="col-lg-2 col-lg-offset-10">
        <%= link_to "Add Email", new_group_user_email_path(@group, @user), id: "new_email", class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>